.fm-rq {
  @extend .border-radius;
  background-color: $main-bg-color;
  .row {
    margin-bottom: 1rem;
  }
  .img {
    &__preview {
      width: 150px;
      height: 150px;
      margin: 1rem;
    }
  }
}
