.wrapper {
  padding: 10px;
  margin-left: 82px; //250px - 82px
  padding-top: 90px;
  background: $second-bg-color;
  transition: all 0.3s ease-in-out;
  min-height: 100vh;
  color: $main-color;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-success {
  background: $success-color !important;
}

.bg-warning {
  background: $warning-color !important;
}

.bg-danger {
  background: $danger-color !important;
}

.btn-primary {
  color: $primary-color !important;
}

.btn-success {
  color: $success-color !important;
}

.btn-warning {
  color: $warning-color !important;
}

.btn-danger {
  color: $danger-color !important;
}

.form-control:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}
