.ad-tab {
  background-color: #fff;
  color: $main-color;
  @extend .border-style;

  .table {
    thead {
      th {
        vertical-align: middle;
      }
    }
  }
}

.tab-view {
  tr,
  td,
  th {
    text-align: center;
  }
  .material-icons:hover {
    cursor: pointer;
  }
}
